.footer {
  background-color: #333333;
  min-height: 30px;
  padding: 1.25rem;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.8rem;
  line-height: 1.5;
}

@media (min-width: 61.875em) {
  .footer {
    font-size: 0.9rem;
  }
}
