.page__header {
  font-size: 1rem;
  line-height: 1.6;
}

@media (min-width: 35.937em) {
  .page__header {
    font-size: 1.2rem;
  }
}

.header__wrapper {
  padding: calc(10px + 1.6vw);
  margin-bottom: 1.25em;
  display: flex;
}

@media (min-width: 61.875em) {
  .header__wrapper {
    padding-inline: calc((10px + 1.6vw) + 5%);
  }
}

.logo {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #49556f;
  font-family: "Century Gothic", sans-serif;
}

.logo:hover {
  color: #ed171b;
}

.logo:active {
  opacity: 0.6;
  text-decoration: underline;
}

.logo__image {
  margin-right: 10px;
  position: relative;
  transform: translateY(-4px);
}

.logo__text {
  vertical-align: bottom;
  text-align: center;
  font-weight: 700;
  font-size: 1.125em;
  line-height: 1.2;
}

.navigation {
  padding-inline: calc(8px + 1.57vw);
  background: linear-gradient(to right, #ffffff, #232a3d);
}

@media (min-width: 61.875em) {
  .navigation {
    padding-inline: calc((10px + 1.6vw) + 5%);
  }
}

.navigation__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
}

.navigation a {
  font-family: "Century Gothic", sans-serif;
  color: #ffffff;
  text-decoration: none;
  padding: 0.8em;
  display: block;
}

.navigation a:hover {
  color: #ed171b;
}

.navigation a:active {
  color: #ed171b;
  text-decoration: underline;
  text-decoration-color: #ed171b;
}
