.page__main {
  flex-grow: 1;
}

.main__header {
  text-align: center;
  padding: 3em calc(8px + 1.57vw);
}

.main__title {
  font-size: 2.5rem;
  line-height: 1.1;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0.45em;
  word-break: break-word;
  font-family: "Century Gothic", serif;
}

@media (min-width: 35.937em) {
  .main__title {
    font-size: 2.75rem;
  }
}

@media (min-width: 47.9375em) {
  .main__title {
    font-size: 3rem;
  }
}

.main__description {
  margin: 0;
}

.main__description:not(:last-child) {
  margin-bottom: 0.9em;
}

.contacts__container {
  margin: 0;
  padding: 0;
  background-color: #292d33;
  max-width: 100%;
}

@media (min-width: 47.9375em) {
  .contacts__container {
    display: grid;
  }
}

@media (min-width: 47.9375em) {
  .contacts__row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 47.9375em) {
  .contacts__cell {
    background-color: #292d33;
  }
}

.contacts__photo {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100%;
}

.contacts__expert {
  color: #ffffff;
  background-color: #292d33;
  text-align: center;
  font-size: 1rem;
  min-height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 30px 40px;
}

.contacts__address {
  font-style: normal;
}

.contacts__title {
  margin-top: 0;
  color: #999999;
  margin-bottom: 1.1em;
  line-height: 1.2;
  font-size: 1.3rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
}

@media (min-width: 57.125em) and (max-width: 61.875em) {
  .contacts__title {
    font-size: 1.5rem;
  }
}

.contacts p:last-child {
  margin-bottom: 0;
}

.contacts__name {
  font-weight: 700;
  margin-bottom: 1em;
  font-size: 1rem;
}

@media (min-width: 35.937em) and (max-width: 57.125em) {
  .contacts__name {
    font-size: 1.125rem;
  }
}

@media (min-width: 57.125em) and (max-width: 61.875em) {
  .contacts__name {
    font-size: 1.3rem;
  }
}

.contacts__link {
  color: #ffffff;
  font-style: normal;
}
